# Node.js dependencies
node_modules/
package-lock.json

# Build artifacts
dist/
*.log

# Editor settings
.vscode/
.idea/
*.swp

# Storybook build files
storybook-static/

# Environment files
.env
.env.local
.DS_Store

# NPM debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Rollup cache
.rpt2_cache/


# Keep Storybook config and stories
!.storybook/
!src/components/**/*.stories.jsx